<section class="bg-main-light rounded-4 shadow p-2 my-2 mx-auto w-75">
    <h1 class=" text-main text-center fw-bold">shipping Address</h1>
    <form [formGroup]="orders" (ngSubmit)="ordersSubmit()">
        <div class="my-2">
            <label for="details">Details</label>
            <textarea formControlName="details" id="details" class="form-control"></textarea>
        </div>
        <div class="my-2">
            <label for="phone">Phone</label>
            <input formControlName="phone" id="phone" type="tel" class="form-control">
        </div>
        <div class="my-2">
            <label for="city">city</label>
            <input formControlName="city" id="city" type="text" class="form-control">
        </div>
        <button class="btn-main my-2" type="submit">Check Out</button>
    </form>
</section>